body {
	margin: 0;
}

#info {
	display: block;
	position: absolute;
	top: 2rem;
	width: 20rem;
	left: calc(50% - 10rem);
	z-index: 100;
	pointer-events: none;
	color: black;
	padding: 0.5rem;
	background: rgba(255, 255, 255, 0.3);
}